<style>
    a{
        text-decoration: none;
        color:green;
        font-size:18;
        font-family: arial;
    }
    a:hover{
        color:blue;
    }
    a:focus{
        color:red;
    }
    h{
        font-size:40;
        font-family: arial;
    }
    table tr td{
        width:5cm;
        height:10mm;
    }
    #out{
        color:red;
        font-size: 24;
    }
    #out:hover{
        color:blue;
    }
</style>
<br><br>
<center>
<h>Hii <b>{{hostname}}</b>, Welcome</h><br><br>
<br><br><br><br><br><br>
<table>
<tr>
<td><a href="addqn">Add Question</a></td>
<td><a href="updtq">Update Question</a></td>
<td><a href="delqn">Delete Question</a></td>
</tr>
<tr>
<td><a href="addusr">Add User</a></td>
<td><a href="upusr">Update User</a></td>
<td><a href="delusr">Delete User</a></td>
</tr>
<tr>
<td><a href="chnm">Change Hostname</a></td>
<td><a href="chml">Change Email</a></td>
<td><a href="chpw">Change Password</a></td>
</tr>
<tr>
    <td><a href="ulst">View your user list</a></td>
    <td><a href="qlst">view your question list</a></td>
</tr>
</table>
<br><br><br><br><br>
<a href="logout" id="out" ><b>Logout</b></a>
</center>